html{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
.box{
    position: relative;
    text-transform: uppercase;
    background: linear-gradient(to bottom right,#dfe1e7, #eeeff2);
    height: 100px;
    width: 100px;
    border-top: 1px solid #687291;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    transition: ease-out 0.2s;
    perspective: 100px;
    transform-style: preserve-3d;
    backface-visibility: hidden; 
   box-shadow: 5px 5px 5px rgb(179, 179, 179); 
   animation: colorChange 1s ;

}
.box::after{
    content: "Extra Credit please";
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    transform: rotateY(-180deg);
    background: linear-gradient(to bottom right,#dfe1e7, #eeeff2);
    backface-visibility: hidden;
    font-size: 15px;
   box-shadow: 5px 5px 5px rgb(179, 179, 179);
  
}
/*.box-parent:hover .box::after{
    transform: rotateY(180deg);
}*/
.box-parent:hover .box{
    transform: rotateY(180deg);
}
.box:nth-child(6){
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #687291;
}
@keyframes colorChange{
 0% {height: 100px;
        width: 100px;}
 50% {height: 110px;
     width: 110px;}
 100% {height: 100px;
    width: 100px;}
}
.box-parent:nth-child(2) .box{
    animation-delay: 0.5s;
}
.box-parent:nth-child(3) .box{
    animation-delay: 1s;
}
.box-parent:nth-child(4) .box{
    animation-delay: 1.5s;
}
.box-parent:nth-child(5) .box{
    animation-delay: 2s;
}
.box-parent:nth-child(6) .box{
    animation-delay: 2.5s;
}